<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Voice Agent</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>Text to Speech</h1>
            <p>Enter text below and click "Generate" to create audio.</p>
        
            <textarea id="text-input" rows="4" placeholder="Type your text here..."></textarea>
            <br><br>
        
            <button id="generate-button">Generate Audio</button>
        
            <audio id="audio-player" controls></audio>
           
        </div>

    <div class="container">
         <h1>Echo Bot</h1>
            <div class="button-group">
            <button id="startRecording">Start Recording</button>
            <button id="stopRecording">Stop Recording</button>
        </div>
        <audio id="recordedAudio" controls></audio>
    </div>
</div>
    <script src="/static/script.js"></script>
</body>
</html>
